# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android
.gradle
local.properties
**/android/**/gradle-app.setting
**/android/**/*.keystore
!**/android/**/debug.keystore

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
